:root {
  --page-padding: 5%;
}

.movie-list-page {
  background-color: var(--color3);
  padding: 0;
  padding-left: 0;
  margin: 0;
  overflow-x: hidden;
}

/* CONTENT */

.movie-list-page .page-content {
  width: 100%;
  padding: 0 var(--page-padding) 0 var(--page-padding);
  margin: 0;
  background-color: var(--color3);
  background-size: 100% 100%;
}

/* empty space between GenreSelect & SortControl  */
.movie-list-page .page-content .genresList-sortControl>* {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

/* empty space between GenreSelect & SortControl  */
.movie-list-page .page-content .genresList-sortControl .filler {
  background-color: var(--color3);
  display: block;
  padding: 16px;
  border-bottom: var(--genreButton-border-thickness) solid var(--color4);
}


/* TEXT: N movies found */
.movie-list-page .page-content .movies-amount span {
  color: var(--color5);
  font-family: 'Montserrat';
  font-size: large;
  padding: 20px 0;
}
.movie-list-page .page-content .movies-amount b {
  color: var(--color5);
  font-weight: 1000;
  font-size: large;
}
.movie-list-page .page-content .movies-amount i {
  color: var(--color1);
  font-weight: 1000;
  font-size: large;
}
.movie-list-page .page-content .movieTiles {
  margin-right: -5%;
}

/* FOOTER */

.movie-list-page .page-footer {
  background-color: var(--color2);
  text-align: center;
  padding: 30px 0;
  line-height: 30px;
}
