div.counter {
    border: 3px solid black;
    margin:5px;
    display: block;
    width: 150px;
    text-align: center;
}

.incButton {
  background-color: green;
}

.decButton {
  background-color: indianred;
}
