.movieForm {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
    padding: 0;
}

/* form-rows */
.movieForm .form-row input,
.movieForm .form-row textarea {
    margin-bottom: 3vh;
    border-radius: 4px;
}

.form-row input:focus {
    border-color: var(--color1);
}

.movieForm label {
    display: block;
    color: var(--color1);
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
    padding: 0 0 15px 0;
}

.movieForm input[type=date] {
  color-scheme: dark
}

.movieForm input[type=text], 
.movieForm input[type=date],
.movieForm input[type=number],
.movieForm .dropdown button,
.movieForm textarea.description {
    padding: 10px 1.5vw;
    display: block;
    background-color: var(--color6);
    color: var(--color5);
    border: 0;
    font-size: medium;
    width: 100%;
    text-align: left;
}

.movieForm textarea.description {
    color: var(--color5);
    word-wrap: break-word;
    resize: none;
}

/* DROPDOWN STYLES BELOW */

/* input with placeholder */
.movieForm .dropdown {
    width: 100%;
    margin-bottom: 3vh;
}

/* for active button */
.movieForm .dropdown button:active {
    background-color: var(--color1);
}

/* form appearing after dropdown button clicked */
.movieForm .dropdown-menu {
    background-color: var(--color6);
    width: 100%;
    overflow-y: scroll;
    max-height: 200px;
    height: 150px;
}

/* form appearing after dropdown checkbox item */
.movieForm .dropdown-menu div {
    background-color: var(--color6);
    color: var(--color5);
    font-size: large;
    text-transform: none;
}

/* Dropdown item */
.movieForm .dropdown .form-check{
    padding: 7px 0 10px 45px;
}

/* Dropdown item label */ 
.movieForm .dropdown .form-check label{
    color: var(--color5);
    font-size: smaller;
    padding: 2px 0 0 0;
    text-transform: none;
}

.movieForm .dropdown .form-check:hover{
    background-color: var(--color4);
}

/* Dropdown item V-square */ 
.movieForm .dropdown .form-check input[type=checkbox]{
    border-color: var(--color1);
}

.movieForm .dropdown .form-check input[type=checkbox]:focus{
    border-color: var(--color1);
    box-shadow:  0 0 5px var(--color1);
}

.movieForm .dropdown .form-check input[type=checkbox]:checked{
    background-color: var(--color1);
}

.movieForm:last-child  {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px var(--color1);
}

.movieForm .button {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid var(--color1);
    font-size: large;
    line-height: normal;
    text-transform: uppercase;
}

.movieForm .button.button-black {
    background-color: var(--color3);
    color: var(--color1);
}

.movieForm .button.button-black:hover {
    background-color: var(--color6);
}

.movieForm .button.button-red {
    background-color: var(--color1);
    color: var(--color5);
}
.movieForm .button.button-red:hover {
    background-color: var(--color5);
    color: var(--color2);
}

/* DROPDOWN TRIANGLE SYMBOL STYLES */ 

/* triangle symbol of INACTIVE dropdown button */
.movieForm .dropdown button::after {
    color: var(--color1);
    float: right;
    margin-top: 10px;
}

/* triangle symbol of ACTIVE dropdown button */
.movieForm .dropdown button:active::after {
    color: var(--color5)
}

/* rotation animation when dropdown shown */

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg); 
}
.dropdown-toggle:after { 
    transition: 0.7s; 
}
