:root {
    --modal-common-padding: 5%;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.dialog:not(.dialog.notification) {
    top: 50%;
}

.dialog {
    z-index: 101;
    position: fixed;
    left: 50%;
    
    width: 81.3%;
    padding: 0 0 3% 0;

    background-color: var(--color3);
    font-family: 'Montserrat';
    color: var(--color5);

    transform: translate(-50%, -50%);
}

.dialog.notification {
    top: 30%;
    width: 50.17%;
    text-align: center;
}

.dialog-header {
    padding: 10px;
    margin-bottom: 15px;
}

.dialog-logo {
    padding: 0 0 0 0;
    margin: 0 0 15px 0;

    width: 50px;
    border-radius: 100%;
    border: 0;

    text-align: center;
    background-color: var(--color1);
    font-family: 'Montserrat';
    color: var(--color5);
    line-height: 50px;

    font-size: xx-large;
}

.dialog-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dialog-title {
    font-size: xx-large;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.dialog:not(.notification) .dialog-title {
    margin-left: var(--modal-common-padding);
}

.dialog-close-button {
    float: right;
    border: 0;
    background-color: var(--color3);
    color: var(--color5);
    font-size: x-large;
}

.dialog:not(.notification) .dialog-body {
    padding: 20px var(--modal-common-padding);
}

/*=============*/

.dialog:not(.dialog.notification) .dialog-body {
    max-height: 60vh;
    overflow-y: scroll;
}

/*=============*/

.dialog-body {
    padding: 20px 3%;
}

.dialog-body:last-child {
    padding-bottom: 0;
}