:root {
  --color1: #f65261;
  --color2: #424242;
  --color3: #232323;
  --color4: #555555;
  --color5: #ffffff;
  --color6: #323232F2;

  /* Z-INDEXES USED IN APP*/

  --dialog-overlay-zindex: 100;
  --dialog-zindex: 101;
  --dialog-dropdown-zindex: 102;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 4px solid var(--color1);
  font-size: large;
  line-height: normal;
  text-transform: uppercase;
}
.button.b-0 {
  border: 0;
}

.button.button-black {
  background-color: var(--color3);
  color: var(--color1);
}

.button.button-black:hover {
  background-color: var(--color6);
}

.button.button-red {
  background-color: var(--color1);
  color: var(--color5);
}

.button.button-red:hover {
  background-color: var(--color5);
  color: var(--color2);
}

.button.button-gray {
  background-color: rgba(96, 96, 96, 0.68);
  color: var(--color1);
}

.button.button-gray:hover {
  background-color: var(--color1);
  color: var(--color5);
}
/* scrollbar global styles below */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color2);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color2);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color4);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}

.redFocusedButton:focus {
  background-color: green;
}
.redFocusedButton:hover {
  background-color: green;
}

.pt-3 {
  padding-top: 3%;
}

.p-0 {
  padding:0;
}
.m-0 {
  margin:0;
}
.pr-0 {
  padding-right:0;
}
.pl-0 {
  padding-left:0;
}
