:root {
  --color1: #f65261;
  --color2: #424242;
  --color3: #232323;
  --color4: #555555;
  --color5: #ffffff;
  --color6: #323232F2;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}